// out: 'style.css', compress: false, relativeUrls: true
@import "header/header.less";

body {
  background-color: black;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.link {
  text-decoration: none;
}