body {
  font-family: "Roboto", sans-serif;
  background: #1d1d29;
  color: #fff;
}
.container {
  max-width: 936px;
  margin: auto;
}
.link {
  text-decoration: none;
}
.name-section {
  font-size: 36px;
  font-weight: 700;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px 0px 0px;
}
.header__link:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.header__link-icon {
  width: 30px;
  height: 30px;
}
.promo {
  display: flex;
  padding: 201px 0px 201px 0px;
  justify-content: space-between;
  align-items: center;
}
.promo__content {
  max-width: 520px;
}
.promo__subtitle {
  display: inline-block;
  color: #ffbb01;
  font-size: 24px;
  font-weight: 400;
  margin: 0px 0px 15px 0px;
}
.promo__title {
  font-size: 50px;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}
.promo__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px 0px 38px 0px;
}
.promo__button {
  padding: 24px 42px;
  border-radius: 5px 5px 10px 10px;
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px 0px #b68500;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #2e2e30;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.promo__photo {
  width: 389px;
  height: 389px;
  background: url("../img/photo.jpg") center top / 100% no-repeat;
  border-radius: 50%;
  border: 13px solid #fff;
}
.working {
  padding: 64px 0px 29px 0px;
}
.working__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 84px 0px 0px 0px;
}
.working__card {
  max-width: 287px;
  flex-basis: 33.33333%;
  margin: 0px 0px 63px 0px;
}
.working__card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 22px 0px 16px 0px;
}
.working__card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.last-project {
  padding: 135px 0px 135px 0px;
}
.last-project__slider {
  margin: 84px 0px 0px 0px;
}
.last-project__slide {
  display: flex;
  align-items: center;
}
.last-project__image {
  border-radius: 6px;
  align-self: self-start;
}
.last-project__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 65px;
}
.last-project__slide-title {
  font-size: 24px;
  font-weight: 700;
  flex-basis: 100%;
}
.last-project__time {
  display: flex;
  align-items: flex-start;
  flex-basis: 35%;
  margin: 46px 0px 0px 0px;
}
.last-project_cost {
  display: flex;
  align-items: flex-start;
  margin: 46px 0px 0px 0px;
}
.last-project__feedback {
  display: flex;
  align-items: flex-start;
  margin: 46px 0px 0px 0px;
}
.last-project__description {
  margin: 0px 0px 0px 16px;
}
.last-project__subtitle {
  font-size: 18px;
  font-weight: 700;
}
.last-project__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 8px 0px 0px 0px;
}
.last-project__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 44px 0px 0px 0px;
}
.last-project__bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ffbb01;
  margin: 0px 5px 0px 5px;
}
.last-project__bullet_active {
  background: #ffbb01;
}
